<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="container">
  <p id="message" class="" style="display:none"></p>
	<p class="text-align"> Welcome @ChekeYt</p>

	<p class='text'>
	    Before you start using <b>Comparte Ride</b> we need you to do one last thing.
	    Please click in this button and verify you are the owner of the account.
	</p>

  <p>
    {{ token }}
  </p>

  <a href="https://{{ dns }}{% url 'users:users-verify' %}"  class='btn btn-block btn-primary'>Verificar correo</a>

</div>
